<%- include("partials/header") -%>

    <body>
        <div class="div-flex-row">
            <div class="sidepanel">
                <div class="sidepanel-div-1">
                    <h2>Secrets</h2>
                    <form action="/choosetype" method="get">
                        <button class="btn-white" type="submit" name="tellasecret" value="1">Post a secret</button>
                    </form>
                </div>
                <div class="sidepanel-div-2">
                    <a href="/">Home</a>
                    <a href="/#contact-us">Contact Us</a>
                </div>
            </div>
            <div class="div-secrets-panel">

                <% if (empty) { %>
                    <div class="div-empty-state">
                        <p>There are no secrets to show at this point of time.</p>
                        <img class="empty-state-image" src="/images/empty.png" alt="empty" />
                        <a href="/">Home</a>
                    </div>
                    <% } %>
                        <% if (error) { %>
                            <div class="div-empty-state">
                                <p>Some error occurred!</p>
                                <img class="empty-state-image" src="/images/error.png" alt="error" />
                                <a href="/">Home</a>
                            </div>
                            <% } %>
                                <% if (!empty && !error) { %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-house home-icon" viewBox="0 0 16 16">
                                        <path
                                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                                    </svg>
                                    <p class="p-header">Confessions</p>
                                    <div class="scrollable grid-container">
                                        <% secrets.forEach( (secret, i)=> { %>
                                            <div class="secret-card">
                                                <% if (secret.dedicated) { %>
                                                    <h2 id="dedication<%= i %>"> Dedicated to <span>
                                                            <%= secret.dedicatedTo %>
                                                        </span>
                                                    </h2>
                                                    <% } %>
                                                        <p id="postBody<%= i %>">
                                                            <%= secret.body %>
                                                        </p>
                                                        <div class="grey-bg div-flex-row flex-justify">
                                                            <svg id="copyToClipboard<%= i %>"
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" fill="currentColor"
                                                                class="bi bi-clipboard grey-hover copyToClipboardEvent"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                                                <path
                                                                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                                            </svg>
                                                            <svg id="copiedToClipboard<%= i %>"
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" fill="currentColor"
                                                                class="bi bi-clipboard-check-fill copiedToClipboardEvent"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
                                                                <path
                                                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z" />
                                                            </svg>

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" fill="currentColor"
                                                                class="bi bi-share grey-hover shareEvent"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                                            </svg>
                                                        </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                    <% } %>
            </div>
        </div>
        <script src="/secrets.js" async defer></script>
    </body>

    <%- include("partials/footer") -%>